.status-wrapper {
  display: flex;
  gap: 3px;
  align-items: center;
}

.button-wrapper {
  display: flex;
  gap: 5px;
}

.result {
  margin-top: 20px;
}

.status-light {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.idle {
  background-color: #fff;
}

.success {
  background-color: green;
}

.pending {
  background-color: orange;
}

.failure {
  background-color: red;
}

.btn-wrapper {
  display: flex;
  gap: 0.5rem;
}

.doi-input-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.doi-fetch-button {
  min-width: 120px;
  padding: 0.9rem 1rem;
  margin: 0 0 0 0.5rem;
}

.field-error {
  color: var(--theme-error-600);
  font-size: 1.15rem;
}